body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5%;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
}
footer{
    text-align: center;
}
.image{
    width: 90%;
    height: 300px;
    background: url("../images/migas.jpg");
    margin: auto;
}
.container{
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 20px;
}
.time{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}